

#titulo {
  font-family: 'Allura', cursive;
}


#social1 {
  margin-top: 9px;


}

#social {
  height: 40px;
}

#logo {
  text-align: center;
  height: 175px;
  background-color: green;
}

#selmenu {
  margin-top: 14px;
}
#banners {
  color: #fff;
  background-color: blue;
}
#foot {
  background-color: black;
  color: #fff;
}

#cont2 {
  border-bottom:2px solid #390D26;
}

#administracion {
  border: 2px solid black;
  font-size: large;
}
